@font-face {
  font-family: 'spb';
  src: url('fontes/MeltedMonster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    font-family:'spb', Times, serif
}
body{
  max-width: 1900px;
  margin: 0 auto;
}
main{
  background-color: black;
  width: 100%;
  height: 75vh;
}
.navbar{
    position: relative;
    padding: 23px;
    align-items: center;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}
.LogoPlayboiCarti img{ 
  width: 9vw;
  height: 10vh;
}

.LogoPlayboiCarti img:hover{
}
.ulnav ul{
    font-size: 2rem;
    width:30vw;
    display: flex;
    justify-content: space-around;
}
a{
  color: black;
}
a:hover{
  color: red ;
}

.albuns{
 position: relative;
 top: 13vh; 
 display: flex;
 justify-content: space-around;
 z-index: 9999;
}
.ImagemAlbum{
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 15%;
  overflow: hidden;
  border-bottom: 2px solid brown;
  border-radius: 10px;
  margin: 20px 20px;
  transition: 1s all;
}
.ImagemAlbum:hover{
    transform: scale(1.3);
    background: brown;
  }
  
.ImagemAlbum img{
    width: 15vw;
    height: 30vh;
}
figcaption{
    color: beige;
    margin: 0 auto;
  }
  button{
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    background: brown;
    border: none;
    border-radius: 5px;
  }
  button:hover{
    color: white;
    background-color: black;
  }
  .help{
    position: relative;
  }
  .help img{
    position: absolute;
    left: 24vw;
    top:6vh;
    width: 20vw;

  }
  .sangue-escorrendo{
    position: relative;
  }
  .sangue-escorrendo img{
   position: absolute;
   left: 72vw;
   top: -8vh;
   width: 15vw;
   height: 30vh;
  }
  .sangue-espalhado{
    position: relative;
  }
  .sangue-espalhado img{
    position: absolute;
    left: -8vw;
    top: -50vh;
    width: 30vw;
    height: 12;
  }
  .anarquism{
    position: relative;
  }
  .anarquism img{
    position: absolute;
    width: 178px;
    top: -40vh;
    left: 54vw;
    opacity: 0.6;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: brown;
    height: 9.5vh;
  }
  .redes-sociais{
    margin-top: 2vh;  
    width: 15vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
  }
  .copyright{
    position: relative;
    left: 2vw;
    margin-left: 55vw;
    display: flex;
    align-items: center;
    width: 22vw;
    height: 5vh;
  }
  .copyright img{
    width: 10vw;
    height: 8vh;
  }
  .copyright figcaption{
    color: black;
    margin-left: 1vw;
  }